<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Onecode_Base::sidebar_base_menu"
             title="Onecode"
             module="Onecode_Base"
             sortOrder="30"
             resource="Onecode_Base::menu"/>
    </menu>
</config>
